
// @import "./../../../../variables.scss";

// .banner{
//     min-height: 100vh;
    
//     .container{
//         display: table;
//         height: 100vh;

//         .section-box-banner{
//             display: table-cell;
//             vertical-align: middle;

//             .content{
//                 margin-top: 98px;
//             }

//             h1{
    
//                 color: #64ffda;
//                 margin: 0 0 20px 3px;
//                 font-size: 16px;
//                 font-weight: normal;
//                 font-family: $CodeFont;
//             }

//             h2, h3 {
//                 font-weight: 600;
//                 font-size: 80px;
//                 line-height: 1.1;
//                 margin: 0;
//                 font-family: $MainFont;
//             }

//             h2{
//                 color: $LightestSlate;
//             }
//             h3{  
//                 color: $White;
//             }

//             .banner-description{
//                 margin-bottom: 70px;
//             }

//             p{
//                 max-width: 500px;
//             }

//             .div-btn-banner{
//                 height: 43px;
//             }
//         }

       
//     }    
// }


// .video-section {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     min-width: 100%;
//     min-height: 100%;
//     opacity: .2;
// }

// @media screen and (max-width: 550px) {
//     .btn-section {
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         align-items: center;
//         .left {
//             margin-top: 50px !important;
//         }
//         .right {
//             margin-top: 50px !important;
//             margin-left: 0px !important;
//         }
//     }
//     .custom-btn {
//         font-size: 20px !important;
//     }
//   }

.banner-area {
    position: relative;
    z-index: 10;
}
.login-wrapper {
    max-width: 610px;
    width: 100%;
    .login-top {
        background: var(--bg-maroon);
        flex: 2;
    }
    .login-bottom {
        background: var(--bg-white);
        flex: 1;
        button {
            color: var(--bg-white);
            background: var(--bg-brown);
            min-width: 110px;
            padding: 10px 15px;
        }
        li {
            a {
                font-size: 23px;
                color: var(--bg-text-grey);
                transition: color 0.3s ease-out;
                &:hover {
                    color: var(--bg-white);
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .lead {
        font-size: 1rem!important;
    }
    .banner-section {
        h1 {
            font-size: 1.438rem!important;
        }
    }
 }