<section class="login-wrapper h-100">
  <div class="container py-5 h-100 d-flex align-items-center justify-content-center" [ngClass]="{submitted: submitted}">
      <div class="row">

          <div class="col-lg-12 col-12 mx-auto">
              <div class="custom-form member-form rounded-5 p-4">
                  <h2 class="hero-title text-center mb-4 pb-2">Admin Login</h2>

                  <form  [formGroup]="form" class="row">
                      <div class="col-lg-12 col-md-12 col-12">
                          <div class="form-floating">
                              <input type="text" name="username" id="username" class="form-control"
                                  placeholder="User Name" required formControlName="username">

                              <label for="floatingInput">User Name</label>
                          </div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-12">
                          <div class="form-floating">
                              <input type="password" name="password" id="password" class="form-control"
                                  placeholder="Password" formControlName="password">

                              <label for="floatingInput">Password</label>
                          </div>
                      </div>

                      <div class="col-12 col-lg-12  mx-auto submit-btn">
                          <button class="form-control"  (click)="onSubmit()">Save</button>
                      </div>
                  </form>

              </div>

          </div>
      </div>
  </div>

  <!-- <div class="video-wrap">
      <video autoplay="true" loop="true" muted="true" class="custom-video" poster="">
          <source src="../../../../assets/videos/video.mp4" type="video/mp4">

          Your browser does not support the video tag.
      </video>
  </div> -->
</section>