// @import "./variables.scss";

/* Add application styles & imports to this file! */
// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
// @import url('../node_modules/simple-keyboard/build/css/index.css');
// body{
  
//   background-color: brown;
// }
// Import your custom overrides
@import "overrides.scss";

:root {
    --black: #000;
    --bg-maroon: #691101;
    --bg-white: #FFF;
    --bg-grey: #CCC;
    --bg-brown: #2b0900;
    --bg-text-grey: #858585;
}

body {
    height: 100vh;
    &:not(.dashboard){
        background: url(../src/assets/images/bg.jpg) no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
        
    }
    &.dashboard {
        background-color: #ebebeb;
    }
}
img {
    max-width: 100%;
}
app-home, app-member, app-login {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px){
    .main-wrapper {
        height: 100%;
    }
}